* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;

}
img {
    display: block;
    max-width: 100%;
}

.container{
    max-width: 1130px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1790px;
    top: 28px;
    left: 56px;
}

.header a {
    display: inline-block;
    background: #e50914;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
}

.main {
    height: 785px;
    background: url(../img/bgmain.jpg) center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main h1 {
    font-size: 64px;
    max-width: 510px;
    
}

.main span {
    font-size: 26px;

}

.form {
    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;
    margin-bottom: 10px;

}

.form input {
    padding: 20px 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.form button {
    background-color: #e50914;
    outline: none;
    border: none;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    
}

.form button:hover{
    box-shadow: 5px 5px 5px black;
    background: #f40612;
    transition: transform 0.6s ease-in-out;  
    transition: box-shadow 0.5s ease-in-out;
}


.main p {
    font-size: 19px;
}

.main-child{
    z-index: 1;
    display: grid;
    justify-items: center;
}

.gradient {
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.section{
    background: black;
    padding: 4rem 0;
    border-top: 8px solid #222;
    
}
.section h1 {
    font-size: 50px;
    margin-bottom: 16px;
}
.section p {
    font-size: 26px;
}

.grid{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
}

.tvimage {
    position: relative;

}

.tvimage img {
    position: relative;
    z-index: 1;
}

.videotv {
    position: absolute;
    width: 400px;
    top: 80px;
    left: 72px;
}

.download .tvimage {
    order: 1;

}

.download .grid > div:first-child{
    order: 2;
}

.device .videotv{
    width: 340px;
    top: 40px;
    left: 100px;
    
}

.footer .form{

    margin-top: 0;
}

.footer{
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-top: 8px solid #222;
    background: black;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer p{
    margin-top: 1rem;
    color: #757575;
    font-size: 13px;
}